openpyxl>=3.0.3
allure-pytest>=2.9.42
jsonpath>=0.82
typing-extensions>=3.7.4.3
requests>=2.25.1
pytest>=6.2.4
pycryptodome>=3.10.1
pytest-playwright>=0.1.1
pytest-xdist>=2.5.0
pytest-rerunfailures>=3.2.0
filelock>=3.6.0
